/* violet */
$violet-light-10: #eed8ff;
$violet-light-20: #deb1ff;
$violet-light-30: #ce8bff;
$violet-light-40: #be64ff;
$violet-medium-50: #ad3dff;
$violet: #8b31cc;
$violet-dark-70: #682599;
$violet-dark-80: #451866;
$violet-dark-90: #220c33;

/* blue */
$blue-light-10: #dee6fd;
$blue-light-20: #bccdfc;
$blue-light-30: #9bb4fb;
$blue-light-40: #799bfa;
$blue-medium-50: #5882f8;
$blue: #4668c7;
$blue-dark-70: #354e95;
$blue-dark-80: #233463;
$blue-dark-90: #121a31;

/* indigo */
$indigo-light-10: #e6e7f3;
$indigo-light-20: #bfc2e1;
$indigo-light-30: #999dcf;
$indigo-light-40: #7379bd;
$indigo-medium-50: #4d54ab;
$indigo-dark-60: #262f99;
$indigo: #000a87;
$indigo-dark-80: #00075e;
$indigo-dark-90: #000436;

/* green */
$green-light-10: #ecf799;
$green-light-20: #e1f259;
$green-light-30: #d0eb00;
$green: #c0d901;
$green-medium-50: #9eb300;
$green-botones: #639A48;
$green-dark-60: #7d8d00;
$green-dark-70: #5b6700;
$green-dark-80: #3a4100;
$green-dark-90: #232700;

/* yellow */
$yellow-light-10: #fff2c9;
$yellow-light-20: #ffe694;
$yellow-light-30: #ffda5e;
$yellow: #ffcd28;
$yellow-medium-50: #ebbd25;
$yellow-dark-60: #c29c1e;
$yellow-dark-70: #997b18;
$yellow-dark-80: #705a12;
$yellow-dark-90: #47390b;

/* orange */
$orange-light-10: #f8e5cc;
$orange-light-20: #f2cb99;
$orange-light-30: #ecb166;
$orange-light-40: #e69733;
$orange: #df7d00;
$orange-dark-60: #b36400;
$orange-dark-70: #864b00;
$orange-dark-80: #593200;
$orange-dark-90: #2c1900;

/* red */
$red-light-10: #ffbfce;
$red-light-20: #ff809e;
$red-light-30: #ff416e;
$red-light-40: #ff023d;
$red_botones: #C14F4F;
$red: #eb0238;
$red-dark-60: #c2012e;
$red-dark-70: #990125;
$red-dark-80: #70001b;
$red-dark-90: #470011;

/* gray */
$gray-light-10: #f3f3f3;
$gray-light-20: #e8e8e7;
$gray-light-30: #d1d1d1;
$gray-light-40: #b0b0af;
$gray-medium-50: #8d8d8c;
$gray-dark-60: #6b6b6a;
$gray: #4a4a48; /*color base textos párrafo*/
$gray-dark-80: #333331;
$gray-dark-90: #1d1d1b;

/* white */
$white: #ffffff;

/* transparente */
$transparente: #FFFFFFBB;

/*alert colors*/
$alert-dark-background: #00796b;
$alert-light-text: #e0f7fa;