.ver-expedientes-container {
    text-align: center;
    margin: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  thead {
    background-color: #4c6ef5;
    color: white;
  }
  
  td, th {
    padding: 10px;
    border: 1px solid #ddd;
  }
  