.unauthorized-container {
    text-align: center;
    padding: 3.125rem;
}

.unauthorized-container h1 {
    font-size: 2em;
    margin-bottom: 1.25rem;
}

.unauthorized-container p {
    margin-bottom: 1.25rem;
}